$background: #141414;
$background-hover: #ffffff1a;

$black_800: #141414cc;
$black_1000: #141414;

$pink_1000: #f44c80;
$pink_2000: #fd0011;

// styles/variables.scss

// Светлая тема
$light-primary: #111111;
$light-secondary: #f8f9fa;
$light-text: #4ded18;

// Темная тема
$dark-primary: #eef206;
$dark-secondary: #343a40;
$dark-text: #0d23eb;

//// Тема по умолчанию (светлая)
//:root {
//  --primary-color: #{$light-primary};
//  --secondary-color: #{$light-secondary};
//  --text-color: #{$light-text};
//  --bcg-color: #{$light-text};
//}

//// Темная тема
//[data-theme="dark"] {
//  --primary-color: #{$dark-primary};
//  --secondary-color: #{$dark-secondary};
//  --text-color: #{$dark-text};
//  --bcg-color: #{$dark-text};
//}
